<table>
<tr><td>Branch:</td>
	<td><%=@schedule.branch%> </td>
	<td>Semester:</td>
	<td><%=@schedule.semester%> </td>
	<td>Section:</td>
	<td><%=@schedule.section%> </td>
	<td>Day:</td>
	<td><%=@schedule.day%> </td> 
	<td>Time:</td>
	<td><%=@schedule.time%> </td>
</tr>
</table>