<%=form_for(teacher) do |f|%>
  <p>
    <%=f.label :name%>
    <%=f.text_field :name%>
    <%=f.label :gender%>
    <%=f.select :gender, Teacher::GENDERS, prompt: true %>
    <%= f.label :dob%>
    <%= f.text_field :dob,  "data-provide" => 'datepicker' %>
    <%=f.submit "submit"%>
  </p>
<%end%>
<%=link_to 'back', teachers_url%>
