<h1>Teachers#index</h1>
<%= form_tag(teachers_url, :method => "get", id: "search-form") do %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= select_tag :order_by_field, options_for_select(Teacher::ORDER_BY_FIELDS, params[:order_by_field]), prompt: "Order Field" %>
  <%= select_tag(:order_by, options_for_select(Teacher::ORDER_BY, params[:order_by]), prompt: "Order By") %>
  <%= text_field_tag :start_date, params[:start_date], "data-provide" => 'datepicker' %>
  <%= text_field_tag :end_date, params[:end_date], "data-provide" => 'datepicker' %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<table>
<% @teachers.each do |teacher|%>
<% if teacher.persisted? %><tr><td>Name</td>
	<td><%=teacher.name%></td>
	<td>Gender</td>
	<td><%=teacher.gender%></td>
	<td>Date of Birth</td>
	<td><%=teacher.dob%></td>
	<td><%=link_to 'edit', edit_teacher_url(id:teacher.id)%></td>
	<td><%=link_to 'show',teacher_url(id:teacher.id)%></td>
    <td><%= link_to 'Destroy', teacher_url(id:teacher.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%=link_to 'Add schedule for teacher', new_teacher_schedule_url(teacher_id:teacher.id)%></td>
</tr>
<%end%>
<%end%>
</table>
<%=link_to 'Add new teacher details', new_teacher_url%>


